<!DOCTYPE html>
<html>
<head>
    <title>Medical Image Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('welcome') }}">MediAnalyse</a>
            <div class="navbar-nav ml-auto">
                {% if 'access_token' in session %}
                    <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
